<div id="content">
			<div class="wrapper2">
				<div class="slider-wrap">
					<div id="left" class="arrow pointer">L</div>
					<div id="right" class="arrow pointer a-right">R</div>
					<ul class="group"></ul>
					<div class="slider group">
						<div class="slide">
							<div class="pad">
								<img class="c" src="images/1.png">
							</div>
						</div>
						<div class="slide">
							<img class="c" src="images/2.png">
						</div>
						<div class="slide">
							<div class="pad">
								<img class="c" src="images/3.png">
							</div>
						</div>
						<div class="slide">
							<img class="c" src="images/4.png">
						</div>
						<div class="slide">
							<img class="c" src="images/5.png">
						</div>
					</div>
				</div>
			</div>
</div>
	
<div class="article">

<h1 class="na">New Arrival</h1>

	<img id="inews" src="images/kobe.png">
	<p id="knews">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis risus non tellus faucibus consectetur. Phasellus malesuada ut neque vel tristique. In id luctus ipsum, id tincidunt justo. Mauris aliquet ex sit amet ante dapibus, id congue tortor lacinia. Pellentesque sagittis, diam in lobortis commodo, felis nunc aliquam ante, id posuere ante est nec risus. Proin lacinia nisl mauris, vitae pulvinar elit ultrices ac. Proin at scelerisque justo. Nunc mollis mauris quis lacus maximus eleifend. Vivamus vestibulum dolor lectus, non fringilla ligula mattis vel. Donec faucibus quam ut sem ultrices, ac cursus ex iaculis. Donec fermentum felis et consectetur posuere. Aenean in vulputate diam, a mattis massa. Sed velit odio, gravida non erat non, placerat venenatis quam. Nam sagittis accumsan odio, mattis sollicitudin odio mattis sit amet.

		Cras pretium molestie neque, tempus efficitur massa tempus ut. Curabitur ante turpis, accumsan vel pretium in, malesuada nec tortor. Maecenas vestibulum velit volutpat lorem varius venenatis. Nulla et vestibulum est. Pellentesque viverra turpis et molestie suscipit. Sed lobortis auctor mauris nec porta. Morbi massa lectus, pharetra vel eros malesuada, consectetur sagittis turpis. Nunc commodo interdum libero, sed sodales lacus maximus sit amet. Praesent vel finibus nisi. Proin quis nisl placerat, consequat lectus eu, venenatis erat. Donec nec velit hendrerit, commodo neque ut, ullamcorper turpis.

		Suspendisse a nunc in ligula lacinia lacinia. Phasellus ac convallis enim. Nullam at ultricies odio. Phasellus malesuada vulputate metus eget elementum. Suspendisse id tellus ipsum. Fusce nec sapien tincidunt, finibus orci ac, sagittis lacus. Nullam efficitur turpis in dui viverra, sed fermentum nulla finibus. In volutpat id velit vel posuere. Nunc id pretium lectus. Nulla quis tempus mauris.

	</p>
</div>


