<header>Current News</header>



<img id="inews" src="images/kobe.png">

<p id="knews">
	
Kobe Bryant of the Los Angeles Lakers announced Sunday that he would retire from professional basketball after the end of this season, his 20th in the N.B.A., bringing to a close one of the most decorated careers in the history of the sport.
<br><br>
Bryant, 37, made his announcement in the form of a short poem titled “Dear Basketball” on The Players’ Tribune, a website founded by the former Yankees shortstop Derek Jeter that publishes first-person narratives from athletes.
<br><br>
In short verses of unadorned language, Bryant recalled falling in love with the game of basketball as a child and growing up as a fan of the Lakers.
<br><br>
In short verses of unadorned language, Bryant recalled falling in love with the game of basketball as a child and growing up as a fan of the Lakers.
<br><br>

</p>

<div class=".multiple-items">
	


</div>