<article>
		<header>
			<h1>Jerseys</h1>
		</header>

		<div class="nav2">
			<h2 class="title_n">Menu</h2>
			
		<ul>
			<li>
				<a class="clv" href="">Cleveland Cavaliers</a>
			</li>
			<li>
				<a class="gold" href="">Golden State Warriors</a>
			</li>
			<li>
				<a class="chi" href="">Chicago Bulls</a>
			</li>
			<li>
				<a class="okl" href="">Oklahoma City Thunder</a>
			</li>
			<li>
				<a class="hous" href="">Houston Rockets</a>
			</li>
			<li>
				<a class="la" href="">Los Angeles Lakers</a>
			</li>
			<li>
				<a class="mia" href="">Miami Heat</a>
			</li>
			<li>
				<a class="lac" href="">Los Angeles Clippers</a>
			</li>
			<li>
				<a class="ny" href="">New York Knicks</a>
			</li>
		</ul>

		</div>

		<a href="http://nike.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey" src="images/j1.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>	
		<a href="http://amazon.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey" src="images/j2.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://armani.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey" src="images/j3.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://nycda.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey class="jersey" " src="images/j4.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		/</a>
		<a href="index.html" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey"  src="images/j5.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://ferrari.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey"  src="images/j6.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://lamborghini.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey"  src="images/j7.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://rolex.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey"  src="images/j8.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://rolex.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey"  src="images/j9.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
	</article>