<<<<<<< HEAD
<p>
	
	
	
</p>
=======
<article>
		<header>
			<h1>Jerseys</h1>
		</header>

		<div class="nav2">
			
		<ul>
			<li>
				link1
			</li>
			<li>
				link1
			</li>
			<li>
				link1
			</li>
		</ul>

		</div>

		<a href="http://nike.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>	
		<a href="http://amazon.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://armani.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://nycda.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		/</a>
		<a href="index.html" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://ferrari.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://lamborghini.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://rolex.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img src="images/projects.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
	</article>
>>>>>>> 006439961e506920b00137ee2d1b7cfd13f3cb23
