<!DOCTYPE html>
<html>
<head>
	<title>Basketball Gear</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<nav>
		<ul>
			<a class="menu" href="home">Home</a>
			<a class="menu" href="jersey">Jersey</a>
			<a class="menu" href="shoes">Shoes</a>
			<a class="menu" href="contact">Conttact</a>
		</ul>
	</nav>
	<%= yield %>
</body>
</html>