<!DOCTYPE html>
<html>
<head>
	<title>Basketball Gear</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<a class="menu" href="home">Home</a>
				<a class="menu" href="jersey">Jersey</a>
				<a class="menu" href="shoes">Shoes</a>
				<a class="menu" href="contact">Contact</a>
			</ul>
		</nav>
		<%= yield %>
	</div>	
</body>
</html>