<article>
		<header>
			<h1>Shoes</h1>
		</header>

		<div class="nav2">
			<h2 class="title_n">Menu</h2>
		<ul>
			<li>
				<a id="a"href="">All</a>
			</li>
			<li>
				<a id="a" href="">Hi-top</a>
			</li>
			<li>
				<a id="c" href="">Low-top</a>
			</li>
		</ul>

		</div>

		<a class="l" href="http://nike.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes" src="images/s1.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>	
		<a class="h" class="l" href="http://amazon.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes" src="images/s2.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://armani.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes" src="images/s3.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a class="l" href="http://nycda.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes" src="images/s4.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		/</a>
		<a href="index.html" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes"  src="images/s5.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://ferrari.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes"  src="images/s6.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://lamborghini.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="jersey"  src="images/s7.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a href="http://rolex.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes"  src="images/s8.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
		<a class="l" href="http://rolex.com" target="_blank">
			<div class="thumbnail">
				<h2>$99.99</h2>
				<img class="shoes"  src="images/s9.png">
				<h2>Clevelad Cavaliers</h2>
			</div>
		</a>
	</article>