body {
 height: 560px;
 background: #C8C8C8;
 font-family: "didot", didot; 
}

.wrapper{
	margin: 0 auto;
	background: white;
	text-align: center;
	height: 1000px;
	width: 1120px;
}

.menu {
 border: solid 3px black;
 display: inline-block;
 line-height: 50px;
 font-size: 45px;
 margin: 40px;
}

nav	{
	margin: 0 auto;
	width: 1120px;
}

#inews {
	margin-top: 16px;
	height: 373px;
	width: 580px;
	float: left;
}

#knews {
	border: solid 1px black;
	padding-top: 10px;
	/*height: 375px;*/
	width: 500px;
	float: right;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: center;
	padding-left: 15px;
}
