body {
 height: 560px;
 background: #00004d;
 font-family: "didot", didot; 
}

.wrapper{
	margin: 0 auto;
	background: white;
	text-align: center;
	height: 1400px;
	width: 1120px;
	font-color: white;
/*	background-color:#3377ff;*/
	border-radius: 10px;
}

.menu {
 display: inline-block;
 line-height: 50px;
 font-size: 35px;
 margin: 30px;
 padding: 5px;
 border-radius: 10px;
 color: white;
 text-decoration: none;
}

nav	{
	margin: 0 auto;
	width: 1120px;
	border-bottom: solid 1px;
	height: 85px;
	background:  #001a4d;
	background: black;
	border-top: solid 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#inews {
	margin-top: 16px;
	height: 373px;
	width: 580px;
	float: left;
}

.na {
	font-size: 100px;
/*	font-family: Impact, Charcoal, sans-serif;*/
	color: grey;
	margin: 0px;
}

#knews {
	font-size: 22px;
	color: grey;
	/*padding-top: 10px;*/
	/*height: 375px;*/
/*	width: 500px;*/
/*	float: left;*/
	/*padding-right: 20px;
	padding-bottom: 1px;*/
/*	text-align: center;*/
/*	padding-left: 15px;*/
}

.thumbnail{
	border:solid 1px;
	float: left;
	width: 220px;
	height: 350px;
	margin: 10px;
}

.nav2 {

	float: left;
	border-right: solid 1px;
	height: 1100px;
	width: 300px;
	margin-right: 80px;

}
.title_n{
	color: grey
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
 li, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
ul {
	list-style-type: none;
}
/*img {
	border: 0;
}*/
/*body {
	color: #444;
	font-size: 100%;
	background: #fff;
	line-height: 1.5em;
	font-family: 'Lucida Grande', sans-serif;
}*/
.left {
	float: left;
}
.right {
	float: right;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.pointer {
	cursor: pointer;
}
.wrapper2 {
	/*background-color: white;*/
	position: relative;
	margin: 0 auto;
}
.pad {
	padding: 1em;
}

/* Slider ----------- */
#content {
	/*background color: white;*/
	height: 250px;
	width: 1120px;
}
.slider-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: white;

}
.slider-wrap img {
	max-height: 200px;
	background-color: white;
}
.slider {
	width: 9999em;
	position: relative;
	left: 0;
	background-color: white;
}
.slide {
	position: relative;
	width: 60em;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	background: #eee;
	border-right: 3px solid #aaa;
	border-left: 3px solid #aaa;
	float: left;
	background-color: white;
}
.slider-wrap .arrow {
	position: absolute;
	top: 40%;
	z-index: 3;
	background: rgba(0,0,0,.3);
	border-radius: 50px;
	padding: .5em 1em;
	color: #fff;
	margin: 1em;
	-webkit-transition: all .3s ease;
	display: none;
	background-color: white;
}
.arrow:hover {
	background: rgba(0,0,0,.5);
	-webkit-transition: all .3s ease;
}
.a-right {
	right: 0;
}
.slider-wrap > ul {
	position: absolute;
	z-index: 9999;
	bottom: 5%;
	left: 50%;
}
.slider-wrap > ul li {
	float: left;
	width: 15px;
	height: 15px;
	padding: 1px;
	margin: 0 .5em;
	border: 2px solid rgba(0,0,0,.3);
	border-radius: 50px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
/*	background-color: white;*/
}
.slider-wrap > ul li:hover {
	-webkit-transition: all .3s ease;
	border-color: rgba(0,0,0,.5);
/*	background-color: white;*/
}
.circle {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	border-radius: 50px;
	-webkit-transition: all .3s ease;
/*	background-color: white;*/
}
.circle:hover {
	-webkit-transition: all .3s ease;
	background: rgba(0,0,0,.5);
/*	background-color: white;*/
}

/* Smartphones ----------- */
/*@media only screen and (max-width:30em) {
	.wrapper2 {
		width: 95%;
	}
	img {
		max-width: 100%;
	}
}

 Desktops and laptops ----------- 
@media only screen and (min-width: 62em) {
	.wrapper2 {
		width: 60em;
	}
}
*/
.c {

	/*height: 2000px;*/
	width: 1000px;

}
#wrapper3 {
    width:600px; 
    margin: 0 auto; 
    background:#fff; 
    text-align:left; 
    border:1px solid #ccc;
    border-top:none; 
    padding:25px; 
    text-align: center;
}
#modal {
    position:fixed; 
    top:0; 
    left:0; 
    width:10000px; 
    height:10000px; 
    background: rgba(0,0,0,.5);
    /*   background: black;
    opacity: 0.8; */
    text-align:center;
    margin:0 auto;
}
#modal p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
    position: relative;
}
#content2{
    background: white;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 290px;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 275px;
    z-index: 2;
    position: absolute;
}
.contact{
    height: 500px;
}
.jersey{
	height: 200px;
	width: 200px;
}
.shoes{
	height: 200px;
	width: 200px;
}
.modal-link{
	font-size: 30px;
	 text-decoration: none;
	 color: grey;
}





